/*
<<<<<<< HEAD
d3js
=======

>>>>>>> 2c1902d16ba096d60920f7ee02e3843627f1bff6
*/
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 1100px;
  height: 500px;
  position: relative;
  margin-left: 20px;
}

/* stylesheet for your custom graph */

a{
  text-decoration: none;
  color: steelblue;
}

h1{
  color: #34495e;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

.background {
  fill: none;
  pointer-events: all;
}

.states {
  fill: #aaa;
}

.states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#canvas-svg {
  position: relative;
  margin-top: 50px;
}

#state-select {
  position: absolute;
  top: 300px;
  left: 150px;
}

#twenty-seven {
  position: absolute;
  top: 0px;
  left: 460px;
  text-align: center;
}

#twenty-seven > h1 {
  color: steelblue;
  font-weight: 100;
}

#twenty-seven-25k {
  position: absolute;
  top: 0px;
  left: 620px;
  text-align: center;
}

#twenty-seven-25k > h1 {
  color: #E35B5E;
  font-weight: 100;
}

#family-four-50k {
  position: absolute;
  top: 0px;
  left: 780px;
  text-align: center;
}

#family-four-50k > h1 {
  color: #E3DF40;
  font-weight: 100;
}

span.no-data {
  font-size: 30px;
}

#state-marketplace {
  position: absolute;
  top: 250px;
  left: 520px;
}
